.over {
    padding: 1rem;
    padding-top: 32rem;
    width: 100%;
    min-height: 10rem;


    display: flex;
    justify-content: center;
}

.over__wrapper {
    width: 100%;
    max-width: 125rem;
}

.over__text {
    font-size: 2rem;

    background-size: cover;

    min-width: 2rem;
    max-width: 60rem;
}

.over__text h1 {
    font: 3.5rem;
}

.over__image {
    max-width: 50rem;

    float: right;
    padding: 1rem;
}

.over__image img {
    width: 100%;

    border-radius: 1rem;
}

@media only screen and (max-width: 750px) {
    .over__wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .over__text {
        text-align: center;
    }
}